<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Properties xmlns="http://schemas.openxmlformats.org/officeDocument/2006/extended-properties" xmlns:vt="http://schemas.openxmlformats.org/officeDocument/2006/docPropsVTypes"><Template>Normal.dotm</Template><TotalTime>28</TotalTime><Pages>1</Pages><Words>367</Words><Characters>2092</Characters><Application>Microsoft Macintosh Word</Application><DocSecurity>0</DocSecurity><Lines>17</Lines><Paragraphs>4</Paragraphs><ScaleCrop>false</ScaleCrop><Company>HUST</Company><LinksUpToDate>false</LinksUpToDate><CharactersWithSpaces>2455</CharactersWithSpaces><SharedDoc>false</SharedDoc><HyperlinksChanged>false</HyperlinksChanged><AppVersion>14.0000</AppVersion></Properties>